html {
  scroll-behavior: smooth;
}
body {
    background-color: lightblue;
    text-align: center;
    font-family: Arial;
}

h1 {
    color: ocean blue;
}
nav {
  background: black;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}
h2 {
  margin-top: 50px;
}
button {
  padding: 10px 20px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: darkblue;
  transition: 0.3s;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
}